.spinning-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wheel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.stop-input {
  margin-top: 10px;
  width: 50%;
}

.text-field-container {
  margin-top: 15px;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.modal {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  animation: slideDown 0.5s ease-out;
}

.modal h2 {
  color: #ff5733;
  margin-bottom: 10px;
}

.modal p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #ff5733;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e74c3c;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
  }
}
